body {
    background-color: #2f2924;
}
.logo{
    width: 70%;
    height: 70%;
    margin-left: 80px;
    margin-top: 150px;
}
.logolille{
    width: 15%;
    height: 15%;
}
h1{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}
h2{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    font-weight: lighter;
}
.avatar{ 
    width: 400px ;
    height: 400px ;
    margin-top: 40px;
    background-color: none;
    border: solid #ffffff;
    margin: 0;
    position: absolute;
    margin: 0;
    top: 300px;
    left: 50px;
}
.skrivnavn{
    width: 300px ;
    height: 30px ;
    margin-top: 40px;
    background-color: none;
    border: solid #ffffff;
    margin: 0;
    position: absolute;
    margin-bottom: 100px;
    top: 800px;
    left: 100px;
}
.skrivnavntekst{
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 5px;
}
.nastegodkendt{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 400px;
    font-weight: bold;
    font-size: 20px;
}
.nastegodkendt:hover{
    color: #F7BE66;
}
.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 465px;
    margin-top: 250px;
}
.arrow:hover{
    border-color: #F7BE66;
}
.logolillehh{
    width: 15%;
    height: 15%;
    position: relative;
    top: 8px;
    left: 350px;
}
.head{
    display: flex;
    flex-wrap: wrap;
}
.kryds {
    width: 60px;
    height: 60px;
    position: relative;
}
.kryds:after {
    content: '';
    height: 60px;
    border-left: 2px solid #ffffff;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
    margin-top: 10px;
}
.kryds:before {
    content: '';
    height: 60px;
    border-left: 2px solid #FFFFFF;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
    margin-top: 10px;
}
/* hover på kryds 
.kryds:after:hover{
   color: #f7be66; 
}
.kryds:before:hover{
    color: #f7be66;
}
*/

.opgave{
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;  
}
h3{
    size: 500px;

}
.opgave:hover{
    color: #F7BE66;
}
.box{
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 10px;
    margin-left: 90px;
}
.naste{
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}
.naste:hover{
    color: #F7BE66;
}