body{
    background-color: #2f2924;
}
.logo{
    width: 70%;
    height: 70%;
    margin-left: 80px;
    margin-top: 150px;
}
.logolille{
    width: 15%;
    height: 15%;
    margin-left: 305px;
}
h1{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 0px;
}
h2{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}
.avatar{ 
    width: 250px ;
    height: 250px ;
    margin-top: 40px;
    background-color: none;
    border: solid #ffffff;
    margin: auto;
    position: absolute;
    margin: 0;
    top: 250px;
    left: 55px;
}
.skrivnavn{
    width: 250px ;
    height: 30px ;
    margin-top: 40px;
    background-color: none;
    border: solid #ffffff;
    margin: 0;
    position: absolute;
    margin-bottom: 100px;
    top: 550px;
    left: 55px;
}
.skrivnavntekst{
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 5px;
}
.nastegodkendt{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 280px;
    font-weight: bold;
    font-size: 20px;
}
.nastegodkendt:hover{
    color: #F7BE66;
}
.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 320px;
    margin-top: 150px;
}
.arrow:hover{
    border-color: #F7BE66;
}
.head{
    display: flex;
    flex-wrap: wrap;
}
.opgavegul{
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;  
}
.opgave{
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;
}
h3{
    font-size: 40px;
    font-weight: lighter;
}
.cirkelgul{
    height: 130px;
    width: 130px;
    border: solid;
    border-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
}
.cirkelgul:hover{
    border-color: #F7BE66;
}
.cirkelgullost{
    height: 130px;
    width: 130px;
    border: solid;
    border-color: #F7BE66;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
}
.cirkel{
    height: 130px;
    width: 130px;
    border: solid;
    border-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
}
.naste{
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}
.naste:hover{
    color: #F7BE66;
}
.kodewrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    margin-top: 40px;
}
.kodefelt{
    height: 50px;
    width: 50px;
    padding-top: 15px;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}
.tilopgave{
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
}
.tilopgave:hover{
    color: #F7BE66;
}
#puzzel{
	width: 90%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.cross{
	text-align: center;
	width: 30px;
	height: 30px;
	margin: -1px;
	padding: 0;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #2f2924;    
}
tr{
	margin: 0;
	padding: 0;
}
#box{
    float: left;
    width: 90%;
    height: 90%;
}
.cross1{
    background-color: #2f2924;
}
.nastegodkendtop{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px; 
    margin-left: 10px;
}
.nastegodkendtop:hover{
    color: #F7BE66;
}
.line{
    border-bottom: 1px solid #ffffff;
    max-width: 400px;
    text-align: center;
    margin-top: 610px;
    margin-left: 10px;
}
.line2{
    border-bottom: 1px solid #ffffff;
    max-width: 130px;
    margin-top: 90px;
    transform: rotate(90deg);
    margin-left: 120px;
}
.line3{
    border-bottom: 1px solid #ffffff;
    max-width: 400px;
    text-align: center;
    margin-top: 90px;
    margin-left: 10px;
}
li{
    margin-top: 10px;
    text-align: center;
}
.left{
    float: left;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-family: sans-serif;
    margin-left: 45px;
    margin-top: -75px;
    
}
.right{
    float: right;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-family: sans-serif;
    margin-right: 25px;
    margin-top: -75px;
}
.opgavex{
    width: 30%;
    height: 20%;
    position: relative;
    top: 10px;
    left: 270px; 
    font-family: sans-serif;
    color: #ffffff; 
    font-size: 20px;
}
.spgx{
    width: 20%;
    height: 20%;
    position: relative;
    top: 35px;
    left: 164px; 
    font-family: sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 13px;
}
.svarwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto;
    margin-top: 50px;
}
.svarfelt{
    height: 50px;
    width: 200px;
    padding-top: 25px;
    border: 1px;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
}
.svarfelt:hover{
    color: #F7BE66;
}
.line4{
    border-bottom: 9px solid #ffffff;
    max-width: 300px;
    margin: auto;
    margin-top: 70px;
}
.line5{
    border-bottom: 9px solid #F7BE66;
    max-width: 200px;
    margin: auto;
    margin-top: -9px;
    margin-left: 30px;
}
.svarfeltforkertsvar{
    height: 50px;
    width: 200px;
    padding-top: 25px;
    border: 1px;
    border: solid;
    color: #9B3A3A;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
}
.svarfelthvid{
    height: 50px;
    width: 200px;
    padding-top: 25px;
    border: 1px;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
}
.svarfeltkorrekt{
    height: 50px;
    width: 200px;
    padding-top: 25px;
    border: solid;
    color: #F7BE66;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
}
